footer {
  background-color: darksalmon;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  flex-wrap: wrap;
  color: white;
  font-size: 20px;
}
.sec1,
.sec2,
.sec3 {
  min-width: 280px;
}
.foot-text {
  width: 100%;
}

.nscroll {
  position: sticky;
  top: 80px;
  height: fit-content;
}
